
<h1 class="text-center m-4"> book Name  <%= @book.name %> </h1>
<div class="container">
     <div class="row justify-content-center m-5">
           <div class="col-lg-2">
               <b> Name </b>
           </div>
           <div class="col-lg-2">
              <%= @book.name %>
           </div>
     </div>
     <div class="row justify-content-center m-5">
           <div class="col-lg-2">
               <b>Price </b>
           </div>
           <div class="col-lg-2">
              <%= @book.price %>
           </div>
     </div>
</div>
